html {
    font-family: "JetBrains Mono", monospace;
    background-color: black;
    overflow-y: scroll;
      scroll-snap-type: y mandatory;
  }
  
  section {
    height: 100vh;
    width: 100vw;;
    color: white;
    display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      align-content: space-around;
      margin-right: 30px;
      border-bottom: 1px solid white;
  }
  
  
  a{
    text-decoration: none;
    color: white;
  }
  
  /* Add your basic styles */
  .underline-on-hover {
    text-decoration: none;
    
    transition: text-decoration 0.3s ease-in-out;
  }
  
  /* Specify the hover effect */
  .underline-on-hover:hover {
    text-decoration: underline;
    color: green;
  }
  
  
  
  nav {
    border: solid 1px;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-around; /* added */
    list-style-type: none;
  }
  
  nav li {
    margin: 20px;
    
  }
  
  h1{
    color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    animation-name: shake;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  ul{
    margin-right: 20px;
  }
  
    
    .fit-picture {
      height: 150px;
      width: 150px;
      border: solid 2px;
      border-radius: 5px;
      box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  
      animation-name: shake;
      animation-duration: 7s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    
    @keyframes shake{
      0% {transform: translate(0, 0px);}
      50% {transform: translate(0, 15px);}
      100% {transform: translate(0, -0px);}
    }
      
    /* Media queries for resizing pictures and lists */
  @media (min-width: 600px) {
    .fit-picture {
      height: 300px;
      width: 300px;
    }
    li { 
      font-size: 1.5em;
      margin-right: 20px;
    }
    ul{
      margin-right: 20px;
    }
  }
  
  /* Dad Jokes */
  
  
      .wrapper {
        text-align: center;
      }
  p{
    
      margin-right: 20px;
    margin-left: 20px;
  }
      .joke {
        font-size: 16px;
        font-weight: 900;
      }
  
      .joketext {
        color: white;
      }
  
      .getJoke{
          
          height: 50px;
          width: 100px;
          border-radius: 5px;
          
      }
  
      button{
        background-color: green;
        color: white;
      }
  
      .lds-ripple {
        display: inline-block;
        position: relative;
  
        width: var(--size);
        height: var(--size);
      }
  
      .lds-ripple div {
        position: absolute;
        border: 4px solid white;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }
  
      .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
      }
  
      @keyframes lds-ripple {
        0% {
          top: calc(var(--size) / 2);
          left: calc(var(--size) / 2);
          width: 0;
          height: 0;
          opacity: 1;
        }
  
        100% {
          top: 0px;
          left: 0px;
          width: calc(var(--size) * 0.9);
          height: calc(var(--size) * 0.9);
          opacity: 0;
        }
      }
  
      .hidden {
        display: none;
      }
    
    /* Style for the footer */
  footer {
    border-top: 1px solid black;  
    padding: 10px 0;  
    position: fixed;
      bottom: 0%;
      width: 100%;
      height: 40px;
      color:black
      
      
  }
  
/* Style for the footer */
footer {
  border-top: 1px solid white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

}
  
  
  
  
  
    
   
    
    
    
  
  
